<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row" style=" position: fixed;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        
        height: 50px;
        ">
            <div class="col-sm-6">
                Copyright &copy; 2020 Ela Admin
            </div>
            <div class="col-sm-6 ">
                Developed by <a href="https://sajib1066.github.io">kaslong</a>
            </div>
        </div>
    </div>
</footer>